* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E1E;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 425px) {
  body {
    font-size: 14px;
  }
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Banner-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 2rem 6rem 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  nav {
    display: block;
  }
}
nav div p {
  font-family: Judson, serif;
  font-weight: 700;
  font-size: 2rem;
  color: #40454D;
}

.nav__list {
  width: 30%;
}
.nav__list ul {
  color: #828B9A;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-weight: 600;
}
@media (max-width: 425px) {
  .nav__list ul {
    gap: 20px;
  }
}
.nav__list ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #828B9A;
}

.iceland {
  margin-top: 13.5%;
  margin-left: 66.6%;
}
@media (max-width: 425px) {
  .iceland {
    margin: auto;
  }
}
.iceland h1 {
  font-size: 7rem;
  font-weight: 400;
  font-family: Judson, serif;
}
@media (max-width: 425px) {
  .iceland h1 {
    text-align: center;
  }
}
.iceland p {
  color: #ADADAD;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .iceland p {
    text-align: center;
  }
}
.iceland p:before {
  content: "";
  display: inline-block;
  width: 15%;
  height: 1.5px;
  background-color: #828B9A;
  margin-right: 5px;
  margin-bottom: 0.8%;
}
@media (max-width: 425px) {
  .iceland p:before {
    display: none;
  }
}

.ice {
  width: 50%;
  margin: 10% 25% 0 25%;
  text-align: center;
}
@media (max-width: 425px) {
  .ice {
    width: 90vw;
    margin: -25% 0% 0% 0%;
  }
}
.ice .ice__title {
  color: #ADADAD;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 32px;
}
@media (max-width: 425px) {
  .ice .ice__title {
    text-align: center;
    padding-bottom: 0;
  }
}
.ice h2 {
  font-family: Judson, serif;
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 98px;
}
@media (max-width: 425px) {
  .ice h2 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
  }
}
.ice .ice__text {
  color: white;
  font-weight: 500;
  line-height: 250%;
}
@media (max-width: 425px) {
  .ice .ice__text {
    width: 100%;
    padding-left: 5%;
    line-height: 2rem;
  }
}

.excursions {
  display: flex;
  margin-top: 10%;
  height: 100vh;
}
@media (max-width: 425px) {
  .excursions {
    display: block;
  }
}
.excursions .excursions__img {
  width: 57vw;
  height: 100vh;
}
@media (max-width: 425px) {
  .excursions .excursions__img {
    display: none;
  }
}
.excursions .excursions__img img {
  width: 100%;
  height: 100%;
}
.excursions .excursions_square {
  position: relative;
}
.excursions .excursions_square div {
  position: absolute;
  height: 76px;
  width: 121px;
  background-color: #ADADAD;
  margin-left: -4rem;
  margin-top: 25.5vh;
}
@media (max-width: 425px) {
  .excursions .excursions_square {
    display: none;
  }
}
.excursions .excursions__list {
  width: 43vw;
  margin-left: 80px;
  height: 100vh;
}
@media (max-width: 425px) {
  .excursions .excursions__list {
    margin-left: 5%;
  }
}
@media (max-width: 425px) {
  .excursions .excursions__list {
    width: 90%;
  }
}
.excursions .excursions__list p {
  color: #ADADAD;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: -1%;
}
@media (max-width: 425px) {
  .excursions .excursions__list p {
    text-align: center;
  }
}
.excursions .excursions__list ol {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 61px;
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
  flex-wrap: wrap;
  align-content: center;
}
.excursions .excursions__list ol li {
  display: flex;
  align-content: center;
  border-bottom: 2px solid #ADADAD;
  font-family: Judson, serif;
  font-weight: 400;
  font-size: 3rem;
  height: 19vh;
  align-items: center;
}
@media (max-width: 425px) {
  .excursions .excursions__list ol li {
    font-size: 1.5rem;
    border-bottom: none;
  }
}
.excursions .excursions__list ol li:before {
  content: counter(item) "";
  counter-increment: item;
  margin-right: 23px;
  font-size: 5rem;
}
@media (max-width: 425px) {
  .excursions .excursions__list ol li:before {
    margin-right: 10px;
    font-size: 4rem;
  }
}

.jewel {
  margin-top: 10%;
  display: flex;
  width: 100vw;
  height: 100%;
}
@media (max-width: 425px) {
  .jewel {
    display: block;
    margin-top: 10%;
    height: 120vh;
    width: 90vw;
  }
}
.jewel .jewel__article {
  width: 45%;
  height: 100%;
  padding-left: 8%;
  padding-right: 7%;
}
@media (max-width: 425px) {
  .jewel .jewel__article {
    width: 90vw;
    height: 50%;
  }
}
.jewel .jewel__article .jewel__article-title {
  color: #ADADAD;
  font-size: 1.6rem;
  line-height: 33px;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  text-align: center;
}
@media (max-width: 425px) {
  .jewel .jewel__article .jewel__article-title {
    width: 90%;
    margin: 0;
    line-height: 1rem;
  }
}
.jewel .jewel__article h2 {
  font-family: Judson, serif;
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 98px;
}
@media (max-width: 425px) {
  .jewel .jewel__article h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1rem;
  }
}
.jewel .jewel__article .jewel__article-sub {
  font-weight: 300;
  color: #ADADAD;
  text-transform: uppercase;
  line-height: 250%;
  font-size: 1.8rem;
}
@media (max-width: 425px) {
  .jewel .jewel__article .jewel__article-sub {
    text-align: center;
    line-height: 3rem;
  }
}
.jewel .jewel__article .jewel__article-text {
  font-weight: 500;
  line-height: 250%;
  color: white;
}
@media (max-width: 425px) {
  .jewel .jewel__article .jewel__article-text {
    width: 95%;
    text-align: center;
  }
}
.jewel .jewel__article button {
  width: 183px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #ADADAD;
  color: #ADADAD;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1rem;
}
.jewel .jewel__img {
  width: 55%;
  height: 100%;
}
@media (max-width: 425px) {
  .jewel .jewel__img {
    display: none;
  }
}
.jewel .jewel__img img {
  width: 100%;
  height: 100%;
}

.aurora {
  margin-top: 10%;
  background-image: url("../img/aurora 1.png");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  position: relative;
}
@media (max-width: 425px) {
  .aurora {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
}
.aurora div {
  padding-left: 8%;
}
@media (max-width: 425px) {
  .aurora div {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
.aurora .aurora__article-title {
  color: #ADADAD;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .aurora .aurora__article-title {
    font-size: 1.5rem;
    text-align: center;
  }
}
.aurora h2 {
  font-family: Judson, serif;
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 98px;
}
@media (max-width: 425px) {
  .aurora h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
.aurora .aurora__article-text {
  color: white;
  font-family: Judson, serif;
  font-weight: 700;
  font-size: 2.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 42px;
  width: 45%;
  height: 20%;
}
@media (max-width: 425px) {
  .aurora .aurora__article-text {
    font-size: 1.5rem;
    width: 90%;
    height: 100%;
    padding-left: 5%;
    text-align: center;
  }
}
.aurora button {
  width: 183px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #ADADAD;
  color: #ADADAD;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 5%;
}
@media (max-width: 425px) {
  .aurora button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
    position: absolute;
    z-index: 3;
    top: 80%;
  }
}

footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  margin-top: 2%;
}
@media (max-width: 425px) {
  footer {
    display: block;
  }
}
footer .footer__cop {
  line-height: 24px;
  letter-spacing: 4px;
  color: #828B9A;
  width: 70%;
  padding-left: 3%;
}
@media (max-width: 425px) {
  footer .footer__cop {
    width: 100%;
    text-align: center;
  }
}
footer .footer__li {
  list-style: none;
  width: 30%;
  color: #828B9A;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-right: 3%;
}
@media (max-width: 425px) {
  footer .footer__li {
    display: none;
  }
}
footer .footer__li ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #828B9A;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/*# sourceMappingURL=styles.css.map */
